.App {
  text-align: center;
  /* background-color: rgb(117, 164, 164); */
  height: 100%;
}
/* .course{
  border-style: rounded;
  border-width: 220px ;
  border-color: rgb(255, 0, 0);
} */

.container{
  display: flex;
  flex-direction: row;
 
 
  /* margin-right  : 200px; */

}
.div-1 {
  background-color: rgb(112, 112, 150); 
  height: 320px;
  width: 250px;
  padding-bottom: 30px;
  
  margin-right  : 10px;
  margin-top: 100px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px grey;
  /* filter: blur(0.5px); */


 
  align-items: center;
  
}

#welcome{
  font-size: medium;
  text-align: center;
  margin-left: 200px;
  /* padding-bottom: 20px; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#title {
  color: blue;
  text-align: center;


}


